.card-link {
  width: 100% !important;
  min-height: 28rem !important;
  margin: 1.5rem 0 !important;

  h2 {
    font-size: 1rem !important;
  }

  img {
    object-fit: cover !important;
    width: 100% !important;
    height: 15rem !important;
  }
}
